.about-card {
    height: 380px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 15px;
    background: linear-gradient(127deg, rgba(31, 31, 31, 0.35) 0%, rgba(44, 44, 44, 0.35) 20.31%, rgba(43, 43, 43, 0.35) 43.75%, rgba(14, 14, 14, 0.35) 65.63%);
    overflow: hidden;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .content {
        h4 {
            color: #fff;
            font-family: "GeneralSans-Semibold";
            width: 360px;
        }

        p {
            color: $white01;
            width: 330px;
        }
    }
}

#solution {

    h5,
    p {
        width: 450px;
    }
}