$general_sans_Extralight : "GeneralSans-Extralight";
$general_sans_Light : "GeneralSans-Light";
$general_sans_regular : "GeneralSans-Regular";
$general_sans_Medium : "GeneralSans-Medium";
$general_sans_Italic : "GeneralSans-Italic";
$general_sans_Bold : "GeneralSans-Bold";
$calSans : "CalSans-SemiBold";

//variables de couleurs
$yellow01 : ""