.landing-navbar {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 24px 90px;

        .nav-section1 {
            ul {
                display: flex;
                gap: 25px;

                li {
                    color: $white02;
                    font-size: 16px;
                    font-family: "GeneralSans-Medium";
                }
            }
        }


        .nav-section2 {
            ul {
                display: flex;
                align-items: center;
                gap: 25px;

                li {
                    color: $white02;
                    font-size: 16px;
                    font-family: "GeneralSans-Medium";
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }

                .btn {
                    padding: 9px 21px;
                    background-color: #fff;
                    font-weight: 500;
                    border-radius: $radius;
                    font-family: "GeneralSans-Medium";
                }
            }
        }
    }
}